@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;0,900;1,300&display=swap';
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(100% 0 0deg);
  --foreground: oklch(13% 0.028 261.692deg);
  --card: oklch(100% 0 0deg);
  --card-foreground: oklch(13% 0.028 261.692deg);
  --popover: oklch(100% 0 0deg);
  --popover-foreground: oklch(13% 0.028 261.692deg);
  --primary: oklch(21% 0.034 264.665deg);
  --primary-foreground: oklch(98.5% 0.002 247.839deg);
  --secondary: oklch(96.7% 0.003 264.542deg);
  --secondary-foreground: oklch(21% 0.034 264.665deg);
  --muted: oklch(96.7% 0.003 264.542deg);
  --muted-foreground: oklch(55.1% 0.027 264.364deg);
  --accent: oklch(96.7% 0.003 264.542deg);
  --accent-foreground: oklch(21% 0.034 264.665deg);
  --destructive: oklch(57.7% 0.245 27.325deg);
  --border: oklch(92.8% 0.006 264.531deg);
  --input: oklch(92.8% 0.006 264.531deg);
  --ring: oklch(70.7% 0.022 261.325deg);
  --chart-1: oklch(64.6% 0.222 41.116deg);
  --chart-2: oklch(60% 0.118 184.704deg);
  --chart-3: oklch(39.8% 0.07 227.392deg);
  --chart-4: oklch(82.8% 0.189 84.429deg);
  --chart-5: oklch(76.9% 0.188 70.08deg);
  --sidebar: oklch(98.5% 0.002 247.839deg);
  --sidebar-foreground: oklch(13% 0.028 261.692deg);
  --sidebar-primary: oklch(21% 0.034 264.665deg);
  --sidebar-primary-foreground: oklch(98.5% 0.002 247.839deg);
  --sidebar-accent: oklch(96.7% 0.003 264.542deg);
  --sidebar-accent-foreground: oklch(21% 0.034 264.665deg);
  --sidebar-border: oklch(92.8% 0.006 264.531deg);
  --sidebar-ring: oklch(70.7% 0.022 261.325deg);
}

.dark {
  --background: oklch(13% 0.028 261.692deg);
  --foreground: oklch(98.5% 0.002 247.839deg);
  --card: oklch(21% 0.034 264.665deg);
  --card-foreground: oklch(98.5% 0.002 247.839deg);
  --popover: oklch(21% 0.034 264.665deg);
  --popover-foreground: oklch(98.5% 0.002 247.839deg);
  --primary: oklch(92.8% 0.006 264.531deg);
  --primary-foreground: oklch(21% 0.034 264.665deg);
  --secondary: oklch(27.8% 0.033 256.848deg);
  --secondary-foreground: oklch(98.5% 0.002 247.839deg);
  --muted: oklch(27.8% 0.033 256.848deg);
  --muted-foreground: oklch(70.7% 0.022 261.325deg);
  --accent: oklch(27.8% 0.033 256.848deg);
  --accent-foreground: oklch(98.5% 0.002 247.839deg);
  --destructive: oklch(70.4% 0.191 22.216deg);
  --border: oklch(100% 0 0deg / 10%);
  --input: oklch(100% 0 0deg / 15%);
  --ring: oklch(55.1% 0.027 264.364deg);
  --chart-1: oklch(48.8% 0.243 264.376deg);
  --chart-2: oklch(69.6% 0.17 162.48deg);
  --chart-3: oklch(76.9% 0.188 70.08deg);
  --chart-4: oklch(62.7% 0.265 303.9deg);
  --chart-5: oklch(64.5% 0.246 16.439deg);
  --sidebar: oklch(21% 0.034 264.665deg);
  --sidebar-foreground: oklch(98.5% 0.002 247.839deg);
  --sidebar-primary: oklch(48.8% 0.243 264.376deg);
  --sidebar-primary-foreground: oklch(98.5% 0.002 247.839deg);
  --sidebar-accent: oklch(27.8% 0.033 256.848deg);
  --sidebar-accent-foreground: oklch(98.5% 0.002 247.839deg);
  --sidebar-border: oklch(100% 0 0deg / 10%);
  --sidebar-ring: oklch(55.1% 0.027 264.364deg);
}

@theme pokemon {
  --font-poppins: poppins, sans-serif;
  --color-midnight: #00365a;
}

@layer pokemon {
  * {
    @apply border-border outline-ring/50;
    @apply font-poppins font-light scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
    @apply bg-midnight select-none;
    @apply bg-midnight border border-midnight select-none;
  }
}

.cursor-pikachu {
  cursor: url('/cur/pikachu.cur'), pointer;
}

.cursor-pokeball {
  cursor: url('/cur/pokeball.cur'), pointer;
}

.bg-pokemon {
  background-image: url('/wallpapers/pikachu.png');
  background-repeat: repeat;
}

.bg-pokemon-transparent {
  background-image:
    linear-gradient(rgb(255 255 255 / 70%), rgb(255 255 255 / 70%)),
    url('/wallpapers/pikachu.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.poke-nav {
  @apply flex flex-col items-center justify-center px-4 py-8;
  @apply text-white;
  @apply bg-midnight border border-midnight;
  @apply [clip-path:polygon(100%_0,_100%_93%,_70%_100%,_0_85%,_0_0)];
}

.poke-support {
  @apply h-[150px] w-full py-15 px-2;
  @apply text-white text-center;
  @apply bg-midnight border border-midnight;
  @apply [clip-path:polygon(61%_23%,100%_3%,100%_100%,0_100%,0_0)];
}

.poke-main {
  @apply w-full max-w-[2000px] mx-auto px-4 md:px-10 my-15;
  @apply grid place-items-center;
}

.poke-not-found {
  @apply w-full max-w-[750px] mx-auto px-4 my-15;
  @apply flex flex-col justify-center items-center gap-8;
}

.poke-logo {
  @apply w-full max-w-[500px] mx-auto mb-8;
  @apply drop-shadow-[0_0_15px_#ffffff4d];
  @apply transition-transform duration-300 hover:scale-110 active:scale-110;
}

.poke-error {
  @apply drop-shadow-[0_0_15px_#0a0a0a3b];
  @apply transition-transform duration-300 hover:scale-110;
}

.poke-btn {
  @apply border rounded-lg px-4 py-2;
  @apply inline-flex items-center justify-center whitespace-nowrap transition-all duration-300;
  @apply bg-stone-200 border-stone-300 text-stone-500 shadow-sm;
  @apply hover:bg-stone-400 hover:border-stone-400 hover:text-white hover:shadow-xl;
  @apply disabled:pointer-events-none disabled:opacity-50;
}

.poke-wrap {
  @apply bg-white;
  @apply w-full p-4 md:py-12;
  @apply rounded-xl shadow-lg;
  @apply flex flex-wrap justify-center items-center gap-2;
}

.poke-card {
  @apply flex md:flex-col items-center justify-center gap-4 md:gap-0 p-4 md:pt-0 rounded-xl shadow-lg relative w-full md:max-w-[250px];
}

.poke-card-header {
  @apply relative w-1/2 -mt-6 md:mt-0 md:w-full md:h-auto overflow-visible flex justify-center;
}

.poke-card-body {
  @apply w-1/2 md:w-full flex flex-col justify-center items-center text-white text-center;
}

.poke-card-img {
  @apply w-full h-full object-contain z-10;
  @apply transition-transform duration-300 ease-in-out;
  @apply group-hover:scale-125;
  @apply group-active:scale-125;
}

.poke-card-title {
  @apply max-w-[130px] md:max-w-full -mt-1 mb-2;
  @apply truncate capitalize text-neutral-400 text-xl md:text-2xl font-bold;
  @apply drop-shadow-lg;
}

.poke-card-subtitle {
  @apply capitalize text-sm text-neutral-500 font-semibold opacity-30;
}

.poke-tag {
  @apply capitalize text-base md:text-xs text-center p-2 w-full rounded-md shadow-md;
}

.poke-prompt {
  background: radial-gradient(circle at center, #6f6f6f4d, white);
  border: 1px solid #6f6f6f4d;
}

.prompt-title {
  @apply w-full -mt-1 mb-2 text-center text-neutral-400 text-4xl md:text-5xl font-bold drop-shadow-lg;
  @apply transition-transform duration-500 ease-in-out;
  @apply hover:scale-125 hover:text-neutral-500;
  @apply active:scale-125 active:text-neutral-500;
}

.poke-prompt-img {
  @apply w-full h-full;
  @apply transition-all duration-500 ease-in-out;
  @apply filter grayscale;
  @apply group-hover:grayscale-0 group-hover:drop-shadow-[0_0_15px_#6f6f6f] group-hover:scale-125;
  @apply group-active:grayscale-0 group-active:drop-shadow-[0_0_15px_#6f6f6f] group-active:scale-125;
}

.poke-prompt-title {
  @apply max-w-[130px] w-full md:pt-5;
  @apply text-center text-neutral-400 text-xl md:text-2xl font-bold drop-shadow-lg;
  @apply  group-hover:!text-neutral-600;
  @apply  group-active:!text-neutral-600;
}

.poke-info {
  @apply w-full max-w-[95dvw] overflow-hidden p-4 md:p-12;
  @apply rounded-xl shadow-lg;
  @apply flex flex-col justify-center items-center gap-28;

  background-image:
    linear-gradient(rgb(255 255 255 / 70%), rgb(255 255 255 / 70%)),
    url('/wallpapers/pikachu.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.poke-info-heder {
  @apply w-full max-w-[1000px];
}

.poke-info-name {
  @apply md:max-w-full py-4;
  @apply flex justify-center items-center gap-1;
  @apply capitalize text-neutral-500 text-xl md:text-4xl font-bold text-start;
  @apply drop-shadow-lg;
  @apply transition-transform duration-500 ease-in-out;
  @apply hover:scale-110;
  @apply active:scale-110;
}

.poke-info-icon {
  @apply w-6 h-6 sm:w-9 sm:h-9;
}

.poke-info-id {
  @apply capitalize text-right text-neutral-400 text-base md:text-xl font-semibold;
  @apply drop-shadow-lg;
}

.poke-info-dashboard {
  @apply w-full max-w-[1000px] p-5 mt-5;
  @apply bg-white/70 border border-neutral-300 rounded-xl;
  @apply flex flex-col justify-center items-center gap-5;
}

.poke-info-dashboard-img {
  @apply w-full max-w-[300px] -mt-[150px];
  @apply transition-transform duration-300;
  @apply hover:scale-110 active:scale-110;
}

.poke-about-title {
  @apply md:max-w-full py-4 pb-6;
  @apply flex justify-center items-center gap-1;
  @apply capitalize text-neutral-500 text-3xl md:text-4xl font-bold;
  @apply drop-shadow-lg;
  @apply transition-transform duration-500 ease-in-out;
  @apply hover:scale-110;
  @apply active:scale-110;
}

.poke-about-subtitle {
  @apply py-3;
  @apply capitalize text-right text-neutral-400 text-xl md:text-2xl font-semibold;
  @apply drop-shadow-lg;
}

.poke-about-box {
  @apply w-full p-5;
  @apply flex md:flex-col justify-between md:justify-center items-center gap-5;
}

.poke-about-separation {
  @apply border-b md:border-b-0 md:border-r border-b-neutral-500 md:border-r-neutral-500;
}

.poke-about-box-info {
  @apply w-full flex flex-col md:flex-row justify-center items-center gap-1 md:gap-5;
  @apply capitalize text-right text-neutral-400 text-xl md:text-2xl;
  @apply drop-shadow-lg;
}

.poke-about-icon {
  @apply w-9 h-9 sm:w-16 sm:h-16;
}

.poke-icon-border {
  @apply border-2 border-neutral-400 rounded-full p-1;
}

.poke-radar-chart {
  @apply w-full max-w-full h-full max-h-[95%] md:max-h-[350px] aspect-square mx-auto;
}

.poke-bar-chart {
  @apply w-full max-w-full h-full max-h-[350px] mx-auto;
}

.poke-carousel-lores {
  @apply grid place-items-center;
  @apply w-full h-full p-4;
  @apply rounded-xl;
  @apply text-center;
}
